 /* `sm` applies to x-small devices (portrait phones, less than 576px) */

 @media (max-width: 575.98px) { 
  
      html,body {
         margin:0;
         padding:0;
         overflow-x:hidden;
      }
  
   #header-banner{
      background-color: blue;
      z-index: 1;
   }
    .carousel-middle-text .carousel-middle-inner-text {
   
         width:100%;
        
        
        
     }
     .carousel-bg-img-one{
        width: 100%;
     }
     .carousel-middle-text .carousel-middle-inner-text h2{
        font-size: 2rem;
        
       }
       .right-col-text .alert{
     
         top: 61px;
         left: -3px;
          
      }
      .btn-text{
         text-align: center;
      }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (min-width:576px) and (max-width: 767.98px) { 
    .carousel-middle-text .carousel-middle-inner-text {
       
        width:100%;
        
        
     }
     .carousel-middle-text .carousel-middle-inner-text h2{
        font-size:2.2rem;
       
        
       }
    .carousel-bg-img-one{
        height: 90vh;
    }
    .right-col-text .alert{
     
     top:70px;
     left: -9px;
      
  }
  .btn-text{
   text-align: center;
}
 }

/* `lg` applies to medium devices (tablets, less than 992px) */
@media  (min-width:768px) and (max-width: 991.98px) {
   .right-col-text .alert{
     
     top:66px;
     left: -4px;
     
      
  }
  #second-part .right-col-text h1{
   font-size: 2.2rem;
}
 }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (min-width:992px) and (max-width: 1199.98px) { 
   .right-col-text .alert{
     
      top: 66px;
      left: -21px;
       
   }
  
}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (min-width:1200px) and (max-width: 1399.98px) {
   .right-col-text .alert{
     
      /* top: 66px;
      left: -7px; */
      top: 42px;
      left: -50px;
   }
}